@header-height      : 62px;
// Z-indexes
@content-zindex     : 1000;
@header-zindex      : @content-zindex+1000;
// Thematics colors
@thematic-you       : #2d2519;
@thematic-work      : #206994;
@thematic-education : #fa8a00;
@thematic-money     : #27802e;
@thematic-government: #f93b00;
@thematic-future    : #5a2581;

// Bootstrap dependancies
@import "bootstrap.variables.less";
@import "bootstrap.loader.less";
@import "bootstrap.progress.less";

@import "global.less";
@import "header.less";
@import "mixins.less";
@import "question.less";
@import "question.boolean.less";
@import "question.multiple.less";
@import "question.typed-number.less";
@import "question.unique.less";
@import "feedback.less";
@import "survey.element.less";
@import "survey.navigator.less";
@import "thematic.less";
@import "thematic.landing.less";
@import "thematic.intro.less";
@import "thematic.elements.less";
@import "thematic.outro.less";
@import "results.less";
@import "charts.less";
