@import "bootstrap.variables.less";

svg {
    text {
        font-family: @headings-font-family;
        fill: white;
        font-weight: 400;
        font-size: 12px;
        stroke: 1px;
    }

    .bar {
        rect {
            fill: steelblue;
        }
    }

    .axis {
        path, line {
            fill: none;
            stroke: black;
        }

        text {
            fill: black;
            font-size: 10px;

            &.scale {
                font-size: 12px;
            }
        }
    }

    .small body p {
        font-size: 10px !important;
    }

    body {
        background: transparent;

        p {
            font-size: 12px;
        }

    }
}