@import "bootstrap.variables.less";

svg {
    text {
        font-family: @headings-font-family;
        fill: white;
        font-weight: 600;
        font-size: 18px;
        stroke: 1px;
    }

    .bar {
        rect {
            fill: steelblue;

            &:hover {
                fill: brown;
            }
        }
    }

    .axis {
        path, line {
            fill: none;
            stroke: black;
        }
    }

    body {
        background: transparent;

        p {
            font-size: 12px;
        }

    }
}