
body {
	height:100%;
	background:fixed center bottom repeat-x @body-bg;
	background-size: 100% auto;
}

#content {
	z-index:@content-zindex;

    @media (max-width: @screen-xs-min) {        
        padding:0; 
        position:absolute;
        top:@logo-mobile-height;
        bottom:0;
        left:0;
        right:0;
        z-index:100;
   	}

    button[disabled] {
        opacity:0.4;
    }
}