
body {
	height:100%;
	background:fixed center bottom repeat-x @body-bg;
	background-size: 100% auto;
}

#content {
	z-index:@content-zindex;

    @media (max-width: @screen-xs-min) {
    	padding:0;    	
   	}    
}