
.thematic(@slug; @brand:@brand-primary; @brand-second:lighten(@brand-primary, 10%); @bg:@body-bg) {	
	
	.thematic-@{slug} {
        image-rendering:optimizeSpeed;              /* Legal fallback                 */
        image-rendering:-moz-crisp-edges;           /* Firefox                        */
        image-rendering:-o-crisp-edges;             /* Opera                          */
        image-rendering:-webkit-optimize-contrast;  /* Chrome (and eventually Safari) */
        image-rendering:crisp-edges;                /* CSS3 Proposed                  */
        -ms-interpolation-mode:bicubic;             /* IE8+                           */

        & * {
            image-rendering:auto;
        }

        background-image:url("../img/bg/@{slug}.png");
        background-color: @bg;      

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
            background-image:url("../img/bg/@{slug}-x2.png");
        }

        @media (min-width: @screen-lg-min)  {
            background-image:url("../img/bg/@{slug}-x2.png");
        }


        @media (max-width: @screen-xs-min)  {            
            &:after {   
                content:"";             
                background:fade(white, 80);
                position:fixed;
                top:0;
                bottom:0;
                left:0;
                right:0;
                z-index:-1;
            }
        }


		.btn-primary {
  			.button-variant(#fff; @brand; @brand);
		}
        
        .noUi-horizontal .noUi-handle {
            background-color:@brand;

            &:after {
                background-color:lighten(@brand, 40);
            }                    
        }

		.thematic {

			a {
				color: @brand;

				&:hover {
					color: lighten(@brand, 10);
				}
			}

			&__title {
				color:@brand;
                background-image: url("../img/ui/pic_@{slug}.png"); 
            }

            &-landing {

                &__let-go:after {
                    background:darken(@brand, 10%);
                }

                .thematic__title {
    				background-image: url("../img/ui/pic_@{slug}-big.png"); 
                    padding-left:80px;
                    margin-top:10px;
                }   
            }

            &-intro {

                &__let-go {
                    background:@brand;
                    &:hover {
                        color:@brand;                 
                        border-color:@brand;
                        background:white;
                    }
                }
            }
        }

        .survey-navigator--start__start, .survey-navigator--end__start {
            &:after {
                background: @brand;
            }
        }

	    .survey-element {

            &__media {
    	    	border-color:@brand;
    	    }

    	    &__position {
    	    	color:@brand;
    	    }

            &--choice-media {

                & .question-choice {

                    &:hover {
                        background:lighten(@brand, 30);
                    }

                    &--selected {

                        background:lighten(@brand, 50);
                        
                        &, &:after {
                            border-bottom-color:@brand;
                        }
                    }
                }
            }


        }

        .question-choice {

    		&:before {
    			border-color: @brand;                
    		}

            &--selected:before {                
                background: url("../img/ui/pic-valider.svg") center center no-repeat @brand;
                background-size: 300% auto;
            }
        }

        .question-choices {

            &--boolean__choice:before {
                color:white;            
                background:@brand;
                border-color:@brand;
            }

            &--boolean__choice:last-child:before {                
                background:darken(@brand, 15%);
                border-color:darken(@brand, 15%);
            }

            &--boolean__choice:hover,
            &--boolean__choice--selected,
            &--boolean__choice--selected:last-child {
                color:@brand;
                &:before {                    
                    border-color:@brand;
                    background:white;
                }
            }

            &--typed-number, &--multiple, &--user-country {                

                &__output {
                    color:@brand;
                }

                &__validate {
                    background-image:url("../img/ui/validate_@{slug}.png");                        
                }
            }

            select {
                color:@brand;
            }
        }

        .answer-navigator h4.answer-title:before {
            background-color: @brand;
        }

        svg {
            path {
                &.pie0 {
                    fill: @brand-second;
                }

                &.pie1 {
                    fill: lighten(@brand-second, 10%);
                }
            }

            .bar rect {
                fill: @brand-second;
            }

            text.zero {
                fill: @brand-second;
            }
        }

        .answer-description__catchphrase {
            color: @brand;
        }

        .answer-thematics__thematic.@{slug} {
            a { color: @brand; }

            background: url("../img/ui/pic_@{slug}.png") no-repeat;
            -webkit-filter: none !important;
        }

        .feedback__title {            
            background-color: @brand;
        }

        .thumbnail {
            border-color:lighten(@brand, 40);
            background:lighten(@brand, 60)
        }

	}

}

.white-panel(@width:485px) {
    position:relative;
    margin:auto;    
    margin-top:15px;
    padding:0;
    width: @width;
    margin-bottom:10px;
    
    &:before {
        z-index:-1;
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:fade(white, 90%);
        .transform( skewY(-0.5deg) );
        .box-shadow( 5px 5px 0 0  fade(@navbar-default-bg, 10%) );
    }
}


.white-panel(responsive; @width:485px) {

    .white-panel(@width:485px);   

    @media (max-width: @screen-xs-min) {    
        overflow: auto;            
        margin:0;
        width:100%;
        left:0;
        height: ~"calc(100% - @{header-height})";

        &:before {
            display: none;
        }
    }    
}


.keyframes-sliding() {
    from { top: -600px; }
    to   { top: @header-height; }
}

@keyframes sliding-translate{ .keyframes-sliding(); }
@-webkit-keyframes sliding-translate{ .keyframes-sliding(); }
@-moz-keyframes sliding-translate{ .keyframes-sliding(); }

.do-sliding(@speed: 0.5s) {

    .animation(sliding-translate @speed);

    &.ng-enter {
        .transition(@speed);
        .translate(0, -600px);
        
        &-active  {
            .translate(0, 0);
        }
    }

    &.ng-leave {
        .transition(@speed);
        .translate(0, 0);

        &-active {
            .translate(0, -600px);
        }
    }
}



.transform(@transform...) { 
    -webkit-transform: @arguments; // iOS <4.3 & Android <4.1
       -moz-transform: @arguments; // Firefox
            transform: @arguments;
}

.animation(@animation...) { 
    -webkit-animation: @arguments; // iOS <4.3 & Android <4.1
       -moz-animation: @arguments; // Firefox
            animation: @arguments;
}

.apperance(@apperance...) {    
    -webkit-appearance: @arguments;
    -moz-appearance: @arguments;
    -ms-appearance: @arguments;
    -o-appearance: @arguments;
    appearance: @arguments;
}


#no-ui {

    .horizontal(@size: 30px) {

        // Slider style
        .noUi-horizontal {
            height: 6px;

            &, .noUi-origin {
                background-color: #cacaca;
                box-shadow: none;
            }

            .noUi-connect {
                background-color: @progress-bar-bg;
                box-shadow: none;
                border: 1px solid @progress-bar-bg;
            }

            .noUi-handle {
                border-radius: @size;
                background-color: @progress-bar-bg;
                box-shadow: none;
                border: none;

                width: @size;
                height: @size;

                left: @size/-2px;
                top:  @size/-2px;
                cursor: pointer;

                &:before {
                    display: none;
                }

                &:after {
                    background-color: lighten(@progress-bar-bg, 15%);
                    width: 10px;
                    height: 10px;
                    border-radius: 1em;
                    top: 50%;
                    left: 50%;
                    margin-top: -5px;
                    margin-left: -5px;
                    .box-shadow(inset 0 0 1px white);
                }


                @media (max-width: @screen-xs-min) {    
                    .scale(1.4)
                }
            }

        }
    }

}