
.thematic(@slug; @brand:@brand-primary; @bg:@body-bg) {	
	
	.thematic-@{slug} {
		background-image:url("../img/bg/@{slug}.png");
		background-color: @bg;		

		.btn-primary {
  			.button-variant(#fff; @brand; @brand);
		}

		.thematic {

			a {
				color: @brand;
				&:hover {
					color: lighten(@brand, 10);
				}
			}

			&__title {
				color:@brand;
				background-image: url("../img/ui/pic_@{slug}.png"); 
			}

			&-landing {

				&__let-go:after {
					background:@brand;
				}

				&__let-go:hover:after {
					background:lighten(@brand, 5);
				}
			}
		}

		.question-choice:before {
			border-color: lighten(@brand, 5%);
		}

		.question-choice:hover:before {
			border-width:3px;
			border-color:@brand;
			background-image: url("../img/ui/minipic-valider_@{slug}.png");
		}
	
	}

}

.transform(@transform...) {	
    -webkit-transform: @arguments; // iOS <4.3 & Android <4.1
       -moz-transform: @arguments; // Firefox
            transform: @arguments;
}