.question-choices {

	&--user-country  {
		padding:25px;
		text-align:center;

		select {

			.apperance(none);

			max-width: 75%;
                  margin-right:10px;
			background: transparent;
			padding:5px;
			border:0;
                  border-bottom:2px dashed @gray-light;
                  color:@brand-primary;    
                  display: inline-block;
                  font-size:18px;            
                  font-weight:600;      
                  padding:0 5px;
                  text-align: center;    
                  white-space:nowrap;
                  

                  option {
                  	color:#000;
                  	background:#fff;
                  }

                  &, &:focus {
                  	outline:none;
                  }
		}

            &__validate {
                  .hide-text();
                  border:0;
                  height:50px;
                  width:50px;
                  display:inline-block;
                  color:white;
                  border-radius:50%;
                  background:no-repeat center top;
                  background-size:100% auto;          
                  &:hover {
                        &[disabled] {
                              background-position: center top;
                        }
                        background-position: center bottom;
                  }
            }
      }
}