.answer-navigator {
    .white-panel();

    @media (max-width: @screen-xs-min) {
        width: 100%;
        position: absolute;
        top: 35px;

        &:before {
            background: transparent;
            box-shadow: none;
        }
    }

    max-height: none;

    &__intro {
        padding-bottom: 5px;

        p {
            padding: 20px;
        }
    }

    &__nav {
        display: block;
        color: grey;
        list-style: none;
        height: 30px;
        position: relative;
        margin-top: 5px;

        @media (max-width: @screen-xs-min) {
            margin-top: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            @media (max-width: @screen-xs-min) {
                height:50px;
                background:fade(white, 80);
                position:fixed;

                @media (max-height: 300px) {
                    position:relative;
                }

                .ng-enter & {
                    position:absolute;
                }
            }
        }

        &__previous, &__next {
            display: inline-block;
            position: absolute;
            font-size: 12px;
            padding: 0 15px;

            a {
                color: @text-color;
                display: block;
                cursor: pointer;
                text-transform: lowercase;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &__previous {
            font-weight: 300;
            left: 10px;
            bottom: 15px;
            height: 25px;
            line-height: 25px;
            background: url(../img/ui/previous.png) left bottom no-repeat;

            &:hover {
                background-position: left top;
            }
        }

        &__next {
            font-weight: 600;
            right: 10px;
            bottom: 10px;
            height: 35px;
            line-height: 35px;
            background: url(../img/ui/next.png) right bottom no-repeat;

            &:hover {
                background-position: right top;
            }
        }
    }

    h4.answer-title {
        text-align: center;
        padding: 20px;
        position: relative;
        top: 0;
        left: 0;
        color: white;
        margin-bottom: 5px;

        &:before {
            background-color: #777;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            .transform( skewY(-0.5deg) );
        }
    }

    .answer-content {
        position: relative;
        top: 0;
        left: 0;

        .chart {
            width: 50%;
            height: 230px;

            &--fullwidth {
                width: 100%;
            }

            &--nochart {
                padding: 0 15px;
                font-size: 12px;
                color: lighten(@text-color, 30%);
            }
        }

        .answer-description {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 50%;
            padding-right: 10px;

            &--nochart {
                position: relative;
                left: 0;
                padding: 10px 15px 10px 15px;
            }

            p {
                margin-bottom: 5px;
            }

            a, &__source {
                font-size: 11px;
            }

            &__catchphrase {
                font-weight: bold;
            }
        }
    }
}

.answer-thematics {
    @media (max-width: @screen-sm-min) {
        display: none;
    }

    .white-panel(@width:160px);

    position: absolute;
    left: 0;
    top: 110px;

    ul {
        padding: 10px 0 10px 5px;
    }

    &__thematic {
        padding-top: 2px;
        list-style-type: none;
        font-family: @headings-font-family;

        a {
            color: #a9a9a9;
            text-decoration: none;
            cursor: pointer;
        }

        text-transform: uppercase;
        font-weight: 500;
        height: 25px;
        text-indent: 30px;
        margin-top: 5px;
        font-size: 13px;

        &.argent       { background: url("../img/ui/pic_argent.png")       no-repeat; }
        &.avenir       { background: url("../img/ui/pic_avenir.png")       no-repeat; }
        &.education    { background: url("../img/ui/pic_education.png")    no-repeat; }
        &.gouvernement { background: url("../img/ui/pic_gouvernement.png") no-repeat; }
        &.toi          { background: url("../img/ui/pic_toi.png")          no-repeat; }
        &.travail      { background: url("../img/ui/pic_travail.png")      no-repeat; }

        -webkit-filter: grayscale(1);
    }
}

.answer-filters {
    .white-panel(@width:150px);

    padding: 10px 20px 20px 20px;
    position: absolute;
    right: 0;
    top: @header-height;

    &__title {
        font-family: @font-family-sans-serif;
        font-size: 12px;
        display: block;
        margin-bottom: 10px;
        color: #a9a9a9;
    }

    &__gender {
        position: relative;
        margin-bottom: 22px;

        &:after {
            content: "";
            height: 2px;
            width: 100%;
            background: #a0a0a0;
            position: absolute;
            top: 100%;
            left: 0;
            margin: 10px 0;
        }

        button {
            padding: 0;
            @color: #903157;
            width: 52px;
            height: 52px;
            border-radius: 52px;
            border: 5px solid @color;
            background-color: @color;
            font-weight: 600;
            color: #fff;
            font-size: 12px;
            .transition(0.8s);

            &.active {
                background-color: white;
                color: @color;
            }

            &:last-child {
                background-color: darken(@color, 15%);
                border-color: darken(@color, 15%);

                &.active {
                    background-color: white;
                    color: darken(@color, 15%);
                }
            }

            @media (max-width: @screen-xs-min) {
                width: 40px;
                height: 40px;
                font-size: 8px;
            }
        }
    }

    &__age {

        p {
            text-align: center;

            strong {
                font-family: @headings-font-family;
                font-size: 24px;
            }
        }

    }

    #no-ui > .horizontal();

    @media (max-width: @screen-xs-min) {
        width: auto;
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10px;
        left: 0;
        margin: 0 0;
        top: auto;
        bottom: 50px;

        &:before {
            box-shadow: none;
            background: transparent;
        }

        &__gender {
            float: left;
            width: 40%;
            padding-top: 15px;
            margin-bottom: 2px;

            &:after {
                width: 0;
            }
        }

        &__age {
            float: right;
            width: 60%;
            padding-right: 10px;

            p {
                margin: 0;
            }
        }

        &__title {
            display: none;
        }

        .noUi-horizontal .noUi-handle {
            @size: 25px;

            width: @size;
            height: @size;
            left: @size / -2px;
            top: @size / -2px;
        }
    }
}