.survey-navigator {
    position:relative;
    margin:auto;    
    margin-top:15px;
    padding:0;
    width: 435px;
    max-height:298px;
    margin-bottom:10px;

    &:before {
        z-index:-1;
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:fade(white, 90);
        .transform( skewY(-0.5deg) );
        .box-shadow( 5px 5px 0 0  fade(@navbar-default-bg, 10%) );
    }
}



.survey-element {

    &--visible {

    }

    &__nav {

        display: block;
        color: grey;
        list-style: none;

        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
            }
            &:after {
                display: block;
                clear: both;
                content: " ";
                height: 0;
            }
        }


        &__previous {
            float: left;
        }

        &__next {
            float: right;
        }

    }

    &__label {
        color: @text-color;
        font-family: @font-family-base;        
        font-weight:600;
        font-size: 16px;
        text-align:center;
        padding-bottom:10px;
        margin-bottom:20px;
        position:relative;

        &:after {
            content:"";
            height:2px;
            width:150px;
            background:#a0a0a0;
            position:absolute;
            left:50%;
            top:100%;
            margin-left:-150px/2px;
        }
    }
}



