.survey-element {

    &__nav {

        display: block;
        color: grey;
        list-style: none;
        height:45px;
        clear:both;



        ul {
            margin: 0;
            padding: 0;
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            text-align: center;
            height: 35px;

            @media (max-width: @screen-xs-min) {
                height:50px;
                background:fade(white, 80);
                position:fixed;

                @media (max-height: 300px) {
                    position:relative;
                }

                .ng-enter & {
                    position:absolute;
                }
            }
        }

        &__previous, &__next, &__skip {
            display: inline-block;
            font-size:12px;
            padding:0 15px;
            height:25px;
            line-height:25px;
            font-weight:300;

            a {
                color: @text-color;
                display:block;
                cursor:pointer;
                text-transform: lowercase;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &__previous {
            background:url("../img/ui/previous.png") left bottom no-repeat;
            background-position: 5px bottom;
            position: absolute;
            left: 0;
            margin-top: 5px;

            &:hover {
                background-position: 5px top;
            }
        }

        &__skip a {
            text-decoration: underline;
            margin-top: 5px;
        }

        &__next {
            background: url("../img/ui/next.png") right bottom no-repeat;
            line-height: 35px;
            height: 35px;
            position: absolute;
            right: 0;

            &:hover {
                background-position: right top;
            }
        }
    }

    &__label {
        color: @text-color;
        font-family: @font-family-base;        
        font-weight:600;
        font-size: 16px;
        text-align:center;
        padding-bottom:10px;
        margin-bottom:20px;
        position:relative;

        &:after {
            content:"";
            height:2px;
            width:150px;
            background:#a0a0a0;
            position:absolute;
            left:50%;
            top:100%;
            margin-left:-150px/2px;
        }
    }

    &__hint {
        margin:20px;
        text-align:center;
        color:#777777;
        font-weight:400;
        font-size: 11px;

    }

    &--with-media {

        .clearfix();

        .survey-element__question {
            min-height:200px;            
            margin:0 15px;

            @media (max-width: @screen-xs-min) {    
                width:100%;
                margin:0;
                padding:0 10px;
                float:none;
                min-height:none;
            }      
        }

        .survey-element__label {
            margin-bottom:10px;
        }

        .question-choices,
        .survey-element__hint {
            width:215px;
            margin:10px 0;
            padding:0 10px;
        }

        .question-choices--typed-number {
            margin-top:40px;

            &__validate {
                .scale(0.8);
            }
        }
    }

    &--without-media {

        .survey-element__hint, .question-choices  {
            .clearfix();
        }
    }

    &__media {
        float:right;
        margin:10px 0px 20px 0;
        border:3px solid @brand-primary;
        width: 180px+(3px*2px);

        img {
            width:100%;
        }

        iframe {
            width:180px;
            height:180px;
            float:left;
        }


        @media (max-width: @screen-xs-min) {    
            float:none;
            margin:-30px auto 100px;

            iframe {
                float:none;
                display: block;
            }
        }
    }

    &__position {
        z-index: 20;
        position:absolute;
        top:18px;
        right:13px;
        font-family: @headings-font-family;        
        font-size: 14px;
    }

    &__feedback {}
}