.thematic(@slug: argent;       @brand: #27802E);
.thematic(@slug: avenir;       @brand: #5A2581);
.thematic(@slug: education;    @brand: #FA8A00);
.thematic(@slug: gouvernement; @brand: #F93B00);
.thematic(@slug: toi;          @brand: #903157);
.thematic(@slug: travail;      @brand: #206994; @bg: #D9D9D9);

.thematic {

	&__title {
		margin-top:0;		
		padding:20px 40px 0px;
		font-family: @headings-font-family;
		font-weight:400;
		font-size: 14px;
		text-transform: uppercase;
		background:no-repeat 10px 15px;

	    @media (max-width: @screen-xs-min) {    
	    	margin-bottom:20px;
	    	position:relative;
	    	overflow: hidden;
	    	padding:20px 40px;
	    	height:70px;

	    	&:after {
	    		content:"";
	    		z-index:-1;
	    		position:absolute;
	    		top:0;
	    		bottom:0;
	    		left:-10px;
	    		right:-10px;
	    		background:#eee;
	    		.rotate(-1deg);
	    		.transform-origin(left bottom)
	    	}
	    }
	}
}