argparse==1.2.1
boto==2.9.6
dj-database-url==0.2.1
git+https://github.com/django-compressor/django-compressor.git
django-countries==2.0b4
django-filter==0.6
django-model-utils==2.0.1
django-registration==1.0
django-storages==1.1.8
Django==1.6.1
djangorestframework==2.3.12
djrill==0.7.0
docutils==0.11
gunicorn==0.17.4
markdown==2.3.1
mimeparse==0.1.3
Pillow==2.3.0
psycopg2==2.4.6
sorl-thumbnail==11.12
South==0.8.4