<div class="feedback">

	<h4 class="feedback__title" ng-translate>By the way, did you know...</h4>
	<div class="feedback__content">
		<p ng-bind-html='feedback.html_sentence'></p>
		{% block content %}
		{% endblock %}
	</div>
	<nav class="survey-element__nav">
	    <ul>
	        <li class="survey-element__nav__previous"><a ng-href="" ng-click="previous()">Previous</a></li>
	        <li class="survey-element__nav__next"><a ng-href="" ng-click="next()">[[ feedback.validate_button_label ]]</a></li>
	    </ul>
	</nav>

</div>