{% extends "partials/directives/question-base.dj.html" %}

{% block form %}
	<div class="question-choices question-choices--typed-number">
		<div ng-if="question.max_number" 
			 slider 
			 step="[[step]]"
			 start='[[question.min_number]]' 
			 end='[[question.max_number]]' 
			 ng-model="question.answer"></div>	
		<span class="question-choices--typed-number__min" ng-tranlsate>min</span>
		<span class="question-choices--typed-number__max" ng-tranlsate>max</span>
		<p class="question-choices--typed-number__output">
			[[question.answer]] [[ question.unit ]]
		</p>
    	<button class="question-choices--typed-number__validate" ng-click="submitAnswer(question.answer, false)">
    		[[ question.validate_button_label ]]
    	</button>

	</div>
{% endblock %}