{% extends "partials/directives/question-base.dj.html" %}

{% block form %}
<div class='question-choices question-choices--multiple'>

    <div ng-repeat='choice in question.choices'
         ng-click='toggleChoice(choice)'
         ng-class='{"question-choice--selected": isSelected(choice)}'
         class="question-choice">
        <img ng-if='choice.picture' class="thumbnail" ng-src='[[choice.picture]]' />
        <span>[[ choice.title ]]</span>
    </div>

    <button class="question-choices--multiple__validate" ng-class="{ 'question-choices--multiple__validate--disable': answer.length == 0 }" ng-click="answer.length && submitAnswer(answer)">
        [[ question.validate_button_label ]]
    </button>

</div>
{% endblock %}
