<h4 class="survey-element__label">[[ question.label ]]</h4>

<!-- Question featured media -->
<div ng-if="element.media" class="survey-element__media">
    <img    ng-if="element.media.picture"  ng-src="[[element.media.picture]]" />
    <iframe ng-if="element.media.vine_url" ng-src="[[prepareVineUrl(element.media.vine_url)]]" frameborder="0"></iframe>
</div>

{% block form %}
{% endblock %}

<p class="survey-element__hint">[[ question.hint_text ]]</p>

{% block actions %}
{% endblock %}

<nav class="survey-element__nav">
    <ul>
        <li class="survey-element__nav__previous"><a ng-href="" ng-click="previous()" ng-translate>Previous</a></li>
        <li class="survey-element__nav__skip"><a ng-href="" ng-click="next(true)" ng-translate>skip</a></li>
    </ul>
</nav>
