{% extends "partials/directives/question-base.dj.html" %}

{% block form %}
<div class='question-choices question-choices--boolean'>

    <span ng-repeat='choice in question.choices'>
    	<span ng-click='submitAnswer(choice.value || choice.id)'
              ng-class='{"question-choices--boolean__choice--selected": (choice.value || choice.id) == answer}'
         	class="question-choices--boolean__choice">
        	[[ choice.title ]]
        </span>
        <span ng-if="!$last" class="question-choices--boolean__separator" ng-translate>or</span>
    </span>

</div>
{% endblock %}