<div ng-switch='element.type'>
    <div ng-switch-when='feedback'>
        <!-- static feedback -->
        <div feedback-static ng-if="element.sub_type == 'static'"></div>
    </div>

    <div ng-switch-when='question'>
        <!-- user specific question -->
        <div question-user-gender  ng-if="element.typology == TYPOLOGIES.USER.GENDER"></div>
        <div question-user-country ng-if="element.typology == TYPOLOGIES.USER.COUNTRY"></div>
        <div question-user-age     ng-if="element.typology == TYPOLOGIES.USER.AGE"></div>

        <!-- all `regular` question --> 
        <div question-typed-number ng-if="element.typology == TYPOLOGIES.TYPED_NUMBER"></div>

        <div question-radio        ng-if="TYPOLOGIES.RADIO_TYPES.indexOf(element.typology)     != -1"></div>
        <div question-selection    ng-if="TYPOLOGIES.SELECTION_TYPES.indexOf(element.typology) != -1"></div>
    </div>
</div>

