<div ng-switch='element.type'>
    <div ng-switch-when='feedback'>
        <!-- static feedback -->
        <div feedback-static ng-if="element.sub_type == 'static'"></div>
    </div>

    <div ng-switch-when='question'>
        <!-- user specific question -->
        <div ng-if="element.typology == 'user_gender'"          question-user-gender></div>
        <div ng-if="element.typology == 'user_country'"         question-user-country></div>
        <div ng-if="element.typology == 'user_age'"             question-user-age></div>
        <!-- all 'regular question' --> 
        <div ng-if="element.typology == 'typed_number'"         question-typed-number></div>
        <div ng-if="element.typology == 'boolean'"              question-boolean></div>
        <div ng-if="element.typology == 'media_selection'"      question-media-selection></div>
        <div ng-if="element.typology == 'text_selection'"       question-media-selection-></div>
        <div ng-if="element.typology == 'boolean'"              question-boolean></div>


    </div>

