<div class="about" ng-controller="AboutCtrl">
    <div class='container'>
        <div class="about__button" ng-init="opened=false"  ng-mouseover="xiti.trackClick($event, 'about')">
            <div ng-mouseleave="opened=false" ng-mouseover="opened=true" ng-click="opened=!opened">
                <span translate>About</span>
            </div>
        </div>
        <div ng-click="opened=false" class="about__content" ng-class="{'about__content--opened':opened}" ng-mouseleave="opened=false" ng-mouseover="opened=true">
            <p translate>World of Work is an interactive survey created by journalists and coders. It lets users explore and answer questions about the work environment of young people in Europe today. What is work for them? How do they make ends meet? What's their education? How do they see their future? And what should politicians do about all this? World of Work paints the picture of a young generation of Europeans between 16 and 35 whose work is different from their parents' jobs. The results will be featured in a series of articles and video features on Arte.</p>
            <p>
                <span translate>
                    World of Work is built by
                </span>&nbsp;<a href="http://paris.jplusplus.org/">Journalism++</a>
                <span translate>
                    for Arte with advice from Prof. Dr. Albrecht Söllner, European University Viadrina. The code is open source and available on</span>&nbsp;<a href="https://github.com/jplusplus/arte-world-of-work/">Github</a>.
            </p>
            <p>
                <a ng-href="[[ getLink('privacy') ]]" translate>Privacy Policy</a><br/>    
                <a ng-href="[[ getLink('credits') ]]" translate>About us</a><br/>
                <a ng-href="[[ getLink('terms')   ]]" translate>Terms of Use</a>
            </p>
        </div>
    </div>
</div>