<div class="about" ng-controller="AboutCtrl">
    <div class='container'>
        <div class="about__button" ng-init="opened=false"  ng-mouseover="xiti.trackClick($event, 'about')">
            <div ng-mouseleave="opened=false" ng-mouseover="opened=true" ng-click="opened=!opened">
                <span translate>About</span>
            </div>
        </div>
        <div ng-click="opened=false" class="about__content" ng-class="{'about__content--opened':opened}" ng-mouseleave="opened=false" ng-mouseover="opened=true">
            <p>
                <span translate>
                    “What do you do in life?” Many young Europeans have a hard time answering this question. Some don't have a job, others are at pains when explaining what they do to their parents.
                </span><br/>

                <span translate>
                    Who works, who doesn't and why? Where's the ‘labour market’ going to? What alternatives to unemployment are young Europeans inventing? Should we panic? That's what ARTE Info set out to show in an online investigation on our “World of Work”, a journey through the working realities of young Europeans in an interactive questionnaire. Each participant can compare his or her answers to the others'. For the generation of their parents, it's a great opportunity to learn what the European youth think of work, money and the future.
                </span><br/>
                
                <span translate>
                    As soon as we collect enough answers, you will be able to access the results directly. But that's not all: For the investigation to spread out to all of Europe, we need your help. As of now, the user interface is only available in French, German and English. We would like to make it accessible to all 24 languages of the EU and are looking for volunteers to translate the 60 questions. Interested? Get in touch via email at
                </span>&nbsp;<a href="mailto:world-of-work@arte.tv">world-of-work@arte.tv</a>.</br>
                <span translate>
                    All partners of the project will receive credit and will have unlimited access to the results of the survey. They will have the right to reuse the fully anonymized data in future publications.
                </span>
            </p>
            <p>
                <span translate>World of Work was developed by </span>&nbsp;<a href="http://paris.jplusplus.org/" target="_blank">Journalism++ SAS</a>
                <span translate>for Arte, with support from Prof. Dr. Albrecht Söllner, European University Viadrina.</span><br/>
                <span translate>The source code is open and available on</span>&nbsp;<a href="https://github.com/jplusplus/arte-world-of-work/" target="_blank">Github</a>.
            </p>
            <p>
                <a ng-href="[[ getLink('privacy') ]]" target="_blank" translate>Privacy Policy</a><br/>
                <a ng-href="[[ getLink('credits') ]]" target="_blank" translate>About us</a><br/>
                <a ng-href="[[ getLink('terms')   ]]" target="_blank" translate>Terms of Use</a>
            </p>
        </div>
    </div>
</div>