<div class="about">
    <div class='container'>
        <span class="about__button" ng-click="closed=!closed" ng-init="closed=true" ng-mouseleave="closed=true" ng-mouseover="closed=false">About</span>
        <div class="about__content" ng-class="{'about__content--closed':closed}" ng-mouseleave="closed=true" ng-mouseover="closed=false">
            <p>
                DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGEDOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGEDOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGEDOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGEDOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGEDOGEDOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGEDOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGEDOGEDOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGEDOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE DOGE
            </p>
        </div>
    </div>
</div>