<header class="header">
    <div class="container">
        <nav class="header__nav">

            <a class="header__nav__brand-logo" draggable restore ng-href="{% url 'home' %}">
                <h2>World <small>of</small> Work</h2>
                
                <p class="header__nav__brand-logo__caption" ng-class="{ 'header__nav__brand-logo__caption--arte': shouldDisplayArte }">
                    [[ "Youth work in Europe" | translate ]]
                </p>                                                
            </a>
            <span class="header__nav__brand-wow"></span>
            <ul class="header__nav__links list-inline">
                <li class="header__nav__links__element" 
                    ng-class="{ 'header__nav__links__element--active': currentCategory() == 'survey' }">
                    <a ng-href="{% url 'survey' %}" translate>Survey</a>
                </li>
                <li class="header__nav__links__element" 
                    ng-class="{ 'header__nav__links__element--active': currentCategory() == 'results' }">
                    <a ng-href="{% url 'results' %}" translate>Results</a>
                </li>
            </ul>
            <div class="header__nav__back-to-beginning" ng-if="currentCategory() == 'survey' ">   
                <button ng-click="backToBeginning() && xiti.trackClick($event, 'back_to_beginning')" translate>
                    Back to the beginning
                </button>
            </div>
            <div class="header__nav__progress">
                <div class="header__nav__progress__container progress">
                    <div progressbar class="progress-bar header__nav__progress__container__bar" role="progressbar" style="width: 60%;">
                        60%
                    </div>            
                </div>
            </div>  
        </nav>

        <ul class="header__social list-inline">
            <li>
                <a target="_blank"  class="header__social__link header__social__link--googleplus" ng-click="thirdParty.shareOnGplus(); xiti.trackClick($event, 'share_gplus')">                    
                    [[thirdParty.gplusCount]]
                    <span class="sr-only">Google Plus</span>                    
                </a>
            </li>    
            <li>
                <a target="_blank"  class="header__social__link header__social__link--twitter" ng-click="thirdParty.shareOnTwitter(); xiti.trackClick($event, 'share_twitter')">
                    [[thirdParty.twitterCount]]
                    <span class="sr-only">Twitter</span>                    
                </a>
            </li>    
            <li>
                <a target="_blank"  class="header__social__link header__social__link--facebook" ng-click="thirdParty.shareOnFacebook(); xiti.trackClick($event, 'share_facebook')">
                    [[thirdParty.facebookCount]]
                    <span class="sr-only">Facebook</span>                    
                </a>
            </li>    
        </ul>
    </div>
</header>