<header class="header">
    <div class="container">
        <nav class="header__nav">
            <a class="header__nav__brand-logo" ng-href="{% url 'home' %}">
                <h2>World <small>of</small> Work</h2>
                <p class="header__nav__brand-logo__caption">[[ "Youth work in Europe" | translate ]]</p>                
            </a>
            <ul class="header__nav__links list-inline">
                <li class="header__nav__links__element" 
                    ng-class="{ 'header__nav__links__element--active': currentCategory() == 'survey' }">
                    <a ng-href="{% url 'survey' %}">Survey</a>
                </li>
                <li class="header__nav__links__element" 
                    ng-class="{ 'header__nav__links__element--active': currentCategory() == 'results' }">
                    <a ng-href="{% url 'results' %}">Results</a>
                </li>
            </ul>
            <div class="header__nav__back-to-beginning" ng-if="currentCategory() == 'survey' ">   
                <a href="{% url 'survey' %}">[[ "Back to the beginning" | translate ]]</a>         
            </div>
            <div class="header__nav__progress">
                <div class="header__nav__progress__container progress">
                    <div class="progress-bar header__nav__progress__container__bar" role="progressbar" style="width: 60%;">
                        60%
                    </div>            
                </div>
            </div>  
        </nav>
        <ul class="header__social list-inline">
            <li>
                <a href="" target="_blank"  class="header__social__link header__social__link--googleplus">
                    12k
                    <span class="sr-only">Google Plus</span>                    
                </a>
            </li>    
            <li>
                <a href="" target="_blank"  class="header__social__link header__social__link--twitter">
                    12
                    <span class="sr-only">Twitter</span>                    
                </a>
            </li>    
            <li>
                <a href="" target="_blank"  class="header__social__link header__social__link--facebook">
                    661
                    <span class="sr-only">Facebook</span>                    
                </a>
            </li>    
        </ul>
    </div>
</header>