<header class="header container">
    <nav class="nav row">
        <div class="header__brand-logo col-xs-3">
            <a ng-href="{% url 'home' %}">
                <h2>World <small>of</small> Work</h2>
                <p class="header__brand-logo__caption">[[ "Youth work in Europe" | translate ]]</p>
            </a>
        </div>
        <ul class="col-xs-5">
            <li class="nav__element col-xs-6" 
                ng-class="{ 'nav__element--active': currentCategory() == 'survey' }">
                <a ng-href="{% url 'survey' %}">Survey</a>
            </li>
            <li class="nav__element col-xs-6" 
                ng-class="{ 'nav__element--active': currentCategory() == 'results' }">
                <a ng-href="{% url 'results' %}">Results</a>
            </li>
        </ul>
    </nav>
</header>