{% load staticfiles %}


<div class="survey-navigator" ng-switch on='survey.state'>

    <!-- step 0 -> Introduction of the survey, first step  -->
    <div class="survey-navigator--start"  ng-switch-when="0">
        <img class="survey-navigator__illustration"></img> 
        <p ng-translate>A 40-hours-a-week office job and a laid-down career path?</p>
        <p ng-translate>If you're under 30, you know that's not how it is.</p>
        <p ng-translate>Temporary employment, internships, volunteering, informal jobs, self-learning, emigration… Thatʼs what we do to make a living. Neither good nor bad, itʼs our world.</p>
        <p ng-translate>Explore the questions to know what it means to work today, in Europe, when you're under 30.</p>
        <a class="btn btn-primary" ng-click="start()">Start the survey</a>
    </div>

    <!-- step 1 -> we start the first thematic and going on until the end --> 
    <div class="survey-navigator--doing" ng-switch-when="1">

        <div ng-controller='ThematicCtrl'>

            <!-- step 0 -> thematic landing -->
            <div class="thematic-landing" ng-if='state == states.LANDING'>
                <h3 class="thematic__title">[[ thematic.currentThematic.title ]]</h3>                
                <a ng-click="letsgo()" class="thematic-landing__let-go" ng-translate>Let's go</a>
            </div>

            <!-- step 1 -> thematic intro, displaying all info we need about this thematic -->
            <div class="thematic-intro" ng-if='state == states.INTRO'>
                <h3 class="thematic__title">[[ thematic.currentThematic.title ]]</h3>
                <div class="thematic-intro__description" 
                     ng-bind-html="thematic.currentThematic.intro_description"></div>
                <a ng-click="start()" class="thematic-intro__let-go" ng-translate>
                    [[ thematic.currentThematic.intro_button_label ]]
                </a>
            </div>

            <!-- step 2 -> we're starting this thematic question -->
            <div class="thematic-elements" ng-if='state == states.ELEMENTS'>
                <div ng-repeat="element in thematicWrapper.elements">
                    <div class="thematic-elements__element" ng-if="currentElement.id === element.id && currentElement.type === element.type">
                        <h3 class="thematic__title">[[ thematic.currentThematic.title ]]</h3>
                        <div survey-element="element" class="survey-element"></div>
                    </div>
                </div>
            </div>

            <!-- step 3 (DEPRECATED) -> thematic outro we're starting this thematic question -->
            <div class="thematic-outro" ng-if='state == states.OUTRO'>
                <h3 class="thematic__title">[[ thematic.currentThematic.title ]]</h3>
                <div class="thematic-outro__content">
                    <p>Laborum American Apparel fanny pack, flexitarian raw denim scenester Wes Anderson.</p>
                    <p>Velit sustainable aesthetic nostrud. Assumenda Wes Anderson flexitarian, nihil exercitation Portland narwhal seitan mustache labore sriracha street art accusamus. Minim selvage vero placeat Shoreditch.</p>
                    <a class="thematic-outro__previous" ng-click='previous()'>Previous</a>
                    <a class="thematic-outro__next"     ng-click='next()'> Go to next thematic</a>
                </div>
            </div>
        </div>
    </div>

    <!-- step 2 -> all thematic/feedback and question are now done --> 
    <div class="survey-navigator--end" ng-switch-when="2"></div>

</div>
