{% load staticfiles %}

<div class="survey-navigator">
    <!-- do stuff with current question -->

    <div class="survey-navigator__current-element row">

        <h1 class="survey-navigator__title">
            <span ng-if="currentElement.type == 'question'" ng-bind="currentElement.label"></span>
            <span ng-if="currentElement.type == 'survey'"   ng-bind-html="currentElement.html_sentence"></span>
        </h1>

        <div data-element="currentQuestion"></question>
    </div>
    <nav class="question-view__nav row">
        <ul>
            <li class=''>Previous</li>
            <li class=''>[[ currentElement.skip_button_label || "Skip" ]]</li>
        </ul>
    </nav>
</div>
