<div ng-controller="ThematicCtrl" ng-switch="thematic.state">
    <!-- step 0 -> thematic intro, displaying all info we need about this thematic -->
    <div class="thematic-intro" ng-switch-default>
        <h1 class="thematic-intro__title">[[ currentThematic.title ]]</h1>
        <p class="thematic-intro__description">
            [[ currentThematic.intro_description ]]</p>
        <a class="thematic-intro__button" ng-if="currentThematic.intro_button_label">
            [[ currentThematic.intro_button_label ]]</a>
        <a ng-click="thematic.state=thematic.states.ELEMENTS" class="btn btn-primary" ng-translate>Let's go</a>
    </div>

    <!-- step 1 -> we're starting this thematic question -->
    <div class="survey-element" ng-switch-when="1">
        <div survey-element="currentElement"></div>
        <nav class="survey-element__nav">
            <ul>
                <li class="survey-element__nav__previous"><a href="#" ng-click="previous()">Previous</a></li>
                <li class="survey-element__nav__next"><a href="#" ng-click="skip()">Next</a></li>
            </ul>
        </nav>
    </div>

    <!-- step 2 -> thematic outro we're starting this thematic question -->
    <div class="thematic-outro" ng-switch-when="2">
        <h1> OUTRO </h1>
    </div>
</div>